In [11]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
import re

In [2]:
df_train = pd.DataFrame(columns = ['string','sentiment'])

In [3]:
files = os.listdir("train/pos")

In [4]:
path = "train\pos"
for i,item in enumerate(files):
    df_train.loc[i] = [open(os.path.join(path,item),encoding="utf8").read(),bin(1)]

In [5]:
files = os.listdir("train/neg")
len(files)

12500

In [6]:
path = "train/neg"
for i,item in enumerate(files):
    i+=12500
    df_train.loc[i] = [open(os.path.join(path,item),encoding="utf8").read(),bin(0)]

In [7]:
df_train = df_train.sample(frac=1).reset_index(drop=True)

In [8]:
df_train

                                                  string sentiment
0      I was interested in the title and description ...       0b0
1      Jerome Crabbe has the lead role in this movie....       0b1
2      This movie is weak ,The box-cover says East LA...       0b0
3      When this film plays on television you might w...       0b0
4      this is the result. A piece of trash movie tha...       0b0
...                                                  ...       ...
24995  This is a great film for McCartney's and Beatl...       0b1
24996  Can I be as simple and primitive in my evaluat...       0b1
24997  I don't know what it is about Donald Sutherlan...       0b0
24998  Oh, the sixties. There were some interesting f...       0b1
24999  I just loved watching it though and having fun...       0b0

[25000 rows x 2 columns]

In [9]:
from nltk.tokenize.toktok import ToktokTokenizer
tokaninzer = ToktokTokenizer()
nltk.download('stopwords')
stop_words = nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sshar\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [12]:
def remove_special_characters(text, remove_digits=True):
    pattern=r'[^a-zA-z0-9\s]'
    text=re.sub(pattern,'',text)
    return text
df_train['string']=df_train['string'].apply(remove_special_characters)

In [ ]:

#def stemming(text):
 #   ps = nltk.porter.PorterStemmer()
  #  text = '  '.join([ps.stem(item) for item in text.split()])
   # return text
#df_train['string'] = df_train['string'].apply(stemming)

In [13]:
stop=set(stop_words)
print(stop)

#removing the stopwords
def remove_stopwords(text):
    tokens = tokaninzer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    filtered_tokens = [token for token in tokens if token.lower() not in stop_words]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text
df_train['string']=df_train['string'].apply(remove_stopwords)

{'do', 'through', 'been', 'being', "won't", 'aren', 'i', 'hasn', "didn't", "mustn't", "you're", 'theirs', 'again', 'out', 'his', 'above', 'once', 'of', 'there', 'be', 'am', 'myself', 'm', "you'll", 'both', "wasn't", 'can', 'after', 'where', 'she', 'this', 'other', 've', 'yourselves', 'your', 'all', 'below', 'for', 'these', 'isn', 'ourselves', "she's", 'as', 'wouldn', 'will', 'haven', 'have', 's', 'our', 'themselves', 'yours', 'what', 'ma', 'while', 'they', "that'll", 'he', 'herself', "it's", 'before', 'having', 'y', 'against', 'those', 'don', 'him', 'her', 'into', 'mightn', 'but', "hadn't", 'so', 'are', 'shan', 'not', 'further', 'll', 'himself', 'that', 'a', 'here', 'ain', 'own', 'shouldn', "mightn't", 'won', 'during', 'between', 'most', 'them', 'mustn', 'we', 'under', "hasn't", "weren't", 'weren', 'nor', "aren't", 'o', 'each', 'at', 'no', 'some', 'which', 'is', 'did', "haven't", 'wasn', 'couldn', 'how', 'if', 'because', "doesn't", 'up', 'hadn', 'hers', 'same', 'any', 're', 'ours', "don't", 'an', 'then', 'only', 'why', 'd', 'very', 'you', 'it', 'me', 'in', 'didn', 'itself', 'whom', "shan't", 'more', 'does', 'on', 'with', 'their', 'to', 'needn', 'now', 'than', 'had', 't', "isn't", "you'd", "wouldn't", 'yourself', 'was', "you've", 'the', 'few', 'from', "needn't", 'were', 'over', 'when', 'such', "should've", 'doesn', 'by', 'doing', 'has', 'my', 'and', 'too', 'about', 'down', 'just', 'who', 'or', 'should', "shouldn't", "couldn't", 'until', 'its', 'off'}

In [14]:
df_train

                                                  string sentiment
0      interested title description Big Rig attending...       0b0
1      Jerome Crabbe lead role movie saw movie 6 time...       0b1
2      movie weak boxcover says East LAs toughest gan...       0b0
3      film plays television might want save 90 minut...       0b0
4      result piece trash movie doesnt deserve even c...       0b0
...                                                  ...       ...
24995  great film McCartneys Beatles fansA splendid t...       0b1
24996  simple primitive evaluations simply say liked ...       0b1
24997  dont know Donald Sutherlands acting style voca...       0b0
24998  Oh sixties interesting films movie goer enjoy ...       0b1
24999  loved watching though fun total badness film s...       0b0

[25000 rows x 2 columns]

In [15]:
df_test = pd.DataFrame(columns = ['string','sentiment'])
files = os.listdir("test/pos")
path = "test\pos"
for i,item in enumerate(files):
    df_test.loc[i] = [open(os.path.join(path,item),encoding="utf8").read(),bin(1)]
files = os.listdir("test/neg")
path = "test/neg"
for i,item in enumerate(files):
    i+=12500
    df_test.loc[i] = [open(os.path.join(path,item),encoding="utf8").read(),bin(0)]
df_test = df_test.sample(frac=1).reset_index(drop=True)
df_test['string']=df_test['string'].apply(remove_special_characters)
#df_test['string'] = df_test['string'].apply(stemming)
df_test['string']=df_test['string'].apply(remove_stopwords)
df_test

                                                  string sentiment
0      think problem reactions film exceptions dont f...       0b0
1      Debbie Vickers Nell Schofield Sue Knight Jad C...       0b1
2      excruciatingly boring unfunny movie made think...       0b0
3      would argue better mainly acting indeed far wo...       0b0
4      mentally challenged black youth catalyst unite...       0b1
...                                                  ...       ...
24995  1 Ive seen Branaghs Hamlet Branagh old speaks ...       0b1
24996  wife watched movie plan visit Sicily Stromboli...       0b0
24997  pretty run mill family move sure children enjo...       0b0
24998  movie dumb slow ever slow good part film girl ...       0b0
24999  movie collection inexpensive Bmovies restored ...       0b1

[25000 rows x 2 columns]

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer
tv=TfidfVectorizer(min_df=2,max_df=0.5,use_idf=True,ngram_range=(1,2))
#transformed train reviews
tv_train=tv.fit_transform(df_train['string'])
#transformed test reviews
tv_test=tv.transform(df_test['string'])

In [18]:
print('Tfidf_train:',tv_train.shape)
print('Tfidf_test:',tv_test.shape)

Tfidf_train: (25000, 353677)
Tfidf_test: (25000, 353677)

In [19]:
from sklearn.linear_model import LogisticRegression,SGDClassifier
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [21]:
lr=LogisticRegression()
lr.fit(tv_train,df_train['sentiment'])

LogisticRegression()

In [22]:
prediction = lr.predict(tv_test)

In [23]:
accuracy = accuracy_score(prediction,df_test['sentiment'])

In [24]:
accuracy

0.88772

In [28]:
lr_tfidf_report=classification_report(df_test['sentiment'],prediction,target_names=['Positive','Negative'])
print(lr_tfidf_report)

              precision    recall  f1-score   support

    Positive       0.89      0.89      0.89     12500
    Negative       0.89      0.89      0.89     12500

    accuracy                           0.89     25000
   macro avg       0.89      0.89      0.89     25000
weighted avg       0.89      0.89      0.89     25000

In [30]:
cm_tfidf=confusion_matrix(df_test['sentiment'],prediction,labels=[bin(1),bin(0)])
print(cm_tfidf)

[[11126  1374]
 [ 1433 11067]]